@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
.main_banner_image {
  height: 175px;
  width: 250px;
}
.message_window {
  border: 1px solid #eeeeee;
  height: 450px;
  width: 450px;

  border-radius: 5px;
  padding: 5px 15px;
}

@media (max-width: 769px) {
  .message_window {
    height: 200px;
    width: 300px;
  }
}