doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My Title
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

      .container
          h1 Welcome to Chatnonymous
          div.jumbotron.clearfix
            img.pull-left.main_banner_image(src='http://www.clipartbest.com/cliparts/pc5/exx/pc5exxEMi.gif')
            div.pull-right
              h2 An anonymous chat application
              p.pull-right Enjoy, and behave yourself

          .row
            .col-xs-5.chat_area
              div#message_window.message_window
            .col-xs-5.col-xs-offset-2.chat_form
              form.center-block
                div.pull-right
                  label handle to use:
                  input#user_name(type='text', placeholder="@nonymous123")
                div.pull-right
                  textarea#user_message(cols='40', rows='5', placeholder='Enter your message here')
                  br
                  div(role='group').btn-group.pull-right
                    button.btn.btn-default#sendMessage(type='submit') Send
                    button.btn.btn-default#clearMessage Clear


      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild

      // build:js js/main.min.js
      script(src="/scripts/common.js")
      script(src="/scripts/index.js")
      script(src="/scripts/contact.js")
      // endbuild